@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	
}

footer {

}

header {

}

img {
	max-width: 75%;
}

main {

}

nav {
	

}

#copyright {
	font-size: 80%;
}

/* Layout was easier to achieve by centralizing the alignment, spacing, and distribution of elements in the main container */
#main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 20px;
	gap: 20px;

}